body{
    margin:0;
    overflow:scroll;
    background-image: linear-gradient(rgb(235, 233, 233), white);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#xchange{
    position:fixed;
    width:250px;
    height:80px;
    margin:10px;
}
.navigation {
    margin:0;
    height:100px;
    background-color:black;
    font-size: 18px;
    list-style:none;
    text-align:right;
}
.navigation li{
    margin-right:40px;
    display:inline-block;
    padding-right:10px; 
    margin-top:32px; 
}
#cart{
    width:40px;
    height:25px;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    color:#7a7777;
} 

.mainRect{
    position:fixed;
    margin-left: 550px;
    margin-top:150px;
    background-color:rgb(255, 255, 255);
    height:450px;
    width:650px;
    border:5px solid black;
    border-radius: 10px;
    color:black;
    font-weight:500;
    
}
.uploadPhoto{
    float:left;
    border:3px dashed black;
    margin:5px 0 0 5px;
    width:250px;
    height:305px;
}
.uploadPhoto img{
    margin:120px 0 0 110px;
}
.uploadPhoto p{
    margin:0 0 0 75px;
    color:black; 
}
#submit{
    position:relative;
    background-image:linear-gradient(to right, #016d01, #009900);
    margin:40px 0 0 60px;
    height:60px;
    width:150px;
    border:0.5px solid black;
    border-radius:10px;  
    display:table;
}
#submit p{
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    color:black;
}
#submit:hover{
    box-shadow:2px 2px 2px #616161;
} 
#inputFields{
    margin-left:275px;
}
#inputFields input, select, textarea {
    position:relative;
    border:1px solid black;
    width:350px;
}
#inputFields form{
    margin-top:10px;
}
#photo{
    margin-top:5px;
    margin-left:40px;
}













/* .materialType {
    position:relative;
    margin:10px 0 0 280px;
}
#mType{
    width:350px;
    border:1px solid black;
}
#catlabel{
    position:relative;
    margin-top:20px;
    margin-left:17px;
}
#categories{
    position:relative;
    border:1px solid black;
    margin-left:17px;
}
.quantity{
    position:relative;
    margin:10px 0 0 280px;
}
#qname{
    width:350px;
    border:1px solid black;
}
#description{
    margin-left:17px;
    border:1px solid black;  
}
.dtitle{
    margin-left:17px;
}
#contactlabel{
    margin-left:17px;
}
#contact{
    position:relative;
    border:1px solid black;
    width:350px;
    margin-left:17px;
} */